<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MomMaDang"
        tools:targetApi="31">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="YOUR_CLIENT_ID_HERE" />

        <!-- 앱 시작 화면을 SplashActivity로 설정 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 화면 키보드 올라올 시 입력창 안가려지게 올라감 -->
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <!-- 나머지 Activity -->
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".BoardWriteActivity" />
    </application>

</manifest>